.container{
    margin-right: 10%;
    margin-left: 5%;
}
.content{
    

}
nav{
   display: flex; 
   align-items: center;
   justify-content: space-between;
   padding: 40px 10%;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: large;
    font-weight: bold;

}
nav ul li{
            
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}
button{
    
    
    background-color: black;
    color: white;
    font-weight: lighter;
    font-size: large;
}
.main{
    margin-left: 10px;
    margin-right: 10px;

}
h2{
font-size: large;
font-size: 80px;
align-content: center;
align-items: center;
padding: 30px;
    
}
img{
    margin-right: 10px;
    float: right;
    margin-right: -80px;
    
}
#f1{
  padding: left;
  display: flex;
  float: left;

  
}
.pro{
    align-items: center;
    display: flex;
    margin: right;
    justify-content: space-between;
}
#fit{
    margin: right;
    align-items: center;
    background-color: palegreen;
    border: cornsilk;
}
#our{
    align-content: center;
    background-color: palegreen;
    border: cornsilk;
}
#ang{
    background-color: palegreen;
    border: cornsilk;

}
.image{

}
#fun3{
    
    margin-bottom: -20%;
    
}
#fun8{
margin-bottom: 20%;
}
#fun9{
    margin-bottom: -20%;
    
}
h3{
    font-size: large;
    font-size: 80px;
}
.space{

}
#fun1{
    float: left;

}
#fun10{
    
    float: right;
}
#fun7{
    
}
h4{
    font-size: large;
    font-size: 95px;
}
.fun{
    align-items: center;
    display: flex;
    margin: right;
    justify-content: space-between;
}
.fun{
    align-items: center;
    display: flex;
    margin: right;
    justify-content: space-between;
}
#ig{
    margin-left: 20px;
    align-content: center;
    
}
#fun0{
    float: left;
    text-align: center;
    display: flex;
    margin-right: -70%;
}
.text{
    margin-left: 20px;
    
}
#image{
    padding-top: -7%;
    margin-top: -7%;
    padding-right: 50px;
}
#B1{
    padding-top: -7%;
    margin-top: -7%;
}
#f13{
    margin-bottom: -20%;
    margin-right: 20%;
    padding-top: -20%;
    float: left;
}
#vee{
    background-color: palegreen;
    border: cornsilk;
}
#fun13{
    float: left;
    margin-bottom: 600%;
    display: flex;
    margin-top: 50%;
    margin-right: -25%;
    margin-left: 30%;
    
}
.get{

}
#jay{
    font-size: larger;
    font-weight: bold;
    font-size: 50px;
}
#jay{
 border: darkgray;
 background-color: none;
}
#fun66{
    float: right;
    margin-bottom: -1.5%;
    margin-right: 80%;
    margin-left: 60%;
    margin-top: 28%;
}
.arm{
    display: flex;
}